<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>模版字符串渲染成DOM</title>
</head>

<body>
    <script>
        let tmpl = `<div class="newslist">
                    <div class="img" v-if="info.showImage"><img src="{{image}}"/></div>
                    <div class="date" v-if="info.showDate">{{info.name}}</div>
                    <div class="img">{{info.name}}</div>
                </div>`;

        render(tmpl, {
            image: "some img",
            info: { showImage: true, showDate: false, name: "aaa" }
        })

        function render(tpl, options) {
            
        }
    </script>
</body>

</html>